
$space: 0.5rem;
$space1: 1rem;
$space2: 1.5rem;
$space3: 2rem;
$space4: 2.5rem;
$space5: 3rem;

@import './products.scss';
@import './contact.scss';


@font-face {
  font-family: "Butler";
  src: url("fonts/Butler_Medium.otf") format("opentype");
}

@font-face {
  font-family: "Helvetica";
  src: url("fonts/helvetica-light.ttf");
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-size: 20px;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  font-family: "Butler", serif;
}

h2 {
  font-family: "Helvetica";
  letter-spacing: 2px;
  font-weight: 600;
}

p,
a,
ul,
li {
  font-family: "Helvetica";
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 300;
}

/* description */
.description {
  padding: 4rem 2rem;
  text-align: right;
  color: #c09187;
}

.description__text {
  font-size: 22px;
  letter-spacing: 2px;
  margin-top: 1rem;
}

.section {
  margin-top: 10px;
}

/* products */
.collection {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.collection__product {
  padding: 1rem;
}

.collection__product--title {
  color: #c09187;
  font-size: 20px;
  letter-spacing: 5px;
  width: 50%;
  line-height: 1.7rem;
}

.collection__product {
  margin-top: 15px;
}

.collection__product p {
  font-size: 15px;
  line-height: 20px;
}

.collection__product--measure {
}

.collection__product--colors {
  display: flex;
  column-gap: 5px;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.collection__product--colors {
  margin: $space 0;
}

@media (min-width: 600px) {
  .collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* footer */
footer {
  background: #a9bebc;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}

.footer__sections {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.swiper {
  width: 345px;
  height: 300px;
  border-radius: 10px 10px 0 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}


.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 1rem;
  height: 20vh;

  p {
    font-size: 50px;
    color: #c09187;
    font-weight: 300;

  }

  img {
    color: #c09187;
  }
}




.swiper-f {
  width: 100%;
  height: 700px;
  border-radius: 10px 10px 0 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}